@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  td, th {
    @apply px-4 py-2 border border-gray-300 text-sm text-gray-800;
  }

  th {
    @apply bg-gray-100 font-semibold text-left;
  }
}